
*{box-sizing: border-box;
}

#inner{
    display: none;
}
.game{
    width: 300px;
    overflow: hidden;
    margin: 50px auto 0 auto; 
}
.game span{
    width: 100%;
    font-family: sans-serif;
    display: block;
    color: #fff;
    font-size: 25px;
    text-align: center;
    background: #410801;
}
.game .box{
    float: left;
    height: 70px;
    line-height: 100px;
    background: rgb(248, 232, 3);
    cursor: pointer;
    border: 1px groove rgb(2, 2, 2);
    width: 100px;
    transition: all .25s ease-in-out;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}
.game .box:hover{
    background: #000;
}
.win{
    background: #F9690E !important; color: rgb(25, 80, 180) !important;
}

.firstDiv {
    display: block;
    text-align: center;
    margin: 5% 20% 2% 20%;
    padding: 10px 0px 0px 0px;
}

#caution-div{
    display:none;
} 
.btn{
    width: 60px;
    font-size: 16px;
    height: 40px;
    background:black;
    margin: 8px auto;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
.btn1{width: 160px;
    font-size: 16px;
    height: 40px;
    background:black;
    margin: 6px auto;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
#replay{
    background: #F9690E;
    color: black;
    visibility: hidden;
}

@media (max-width:360px){
    html {
        display: block;
        -webkit-locale: "en";
    }
    .game {
        width: 280px;
        overflow: hidden;
        margin: 5% 0% 5% 5%;
    }
    .game span {
        width: 85%;
        font-family: sans-serif;
        display: block;
        font-size: 25px;
        text-align: center;
        color: #fff;
        background: #446CB3;
    }
    .game .box {
        float: left;
        height: 60px;
        line-height: 100px;
        background: green;
        cursor: pointer;
        width: 80px;
        transition: all .25s ease-in-out;
        font-family: sans-serif;
        font-size: 25px;
        text-align: center;
    }
    .firstDiv {
        width: 280px;
        height: auto;
        display: block;
        background: darkgreen;
        text-align: center;
        margin: 10%;
        color: #fff;
        padding: 5px 0px 0px 0px;
    }

    div {
        display: block;
    }
}

